<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.plexapp.agents.koreansorttitlegenerator</string>
	<key>PlexFrameworkVersion</key>
	<string>2</string>
	<key>PlexPluginClass</key>
	<string>Agent</string>
	<key>PlexPluginCodePolicy</key>
	<string>Elevated</string>
	<key>PlexAgentAttributionText</key>
	<string>
		한국어 정렬명 생성용 보조 에이전트
	  (Korean Sort Title Generator)

		Plex Media Server에서는 한국어 정렬을 완전히 지원하고 있지 않다.
    스크롤바 오른쪽을 보면 자음이 아니라 첫 글자순으로 배열되어 있음을 알 수 있다.
		본 에이전트는 정렬명을 자동으로 수정하여 이 것이 자음 순으로 배열되도록 수정해준다.
		대량의 영화를 관리하는 사람이라면 반드시 필요할 것.
	</string>
</dict>
</plist>
